* {
  --primary-color: #2962ff;
  --gray-text: #9e9e9e;
  --gray-text-dark: #757575;
  --text: #212121;
  --primary-lite: #82b1ff;
}

.main {
  height: 100vh;
  width: 100%;
}

.topbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.topbar p {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--primary-color);
  font-family: "Pacifico", cursive;
}

.userprofile {
  width: 40px;
  height: 20px;
  background-color: #212121;
}

.container {
  height: calc(100vh - 120px);
  width: 100%;
}

.openingCon {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.openingCon img {
  width: 128px;
  height: 128px;
  filter: opacity(0.8);
  margin-bottom: 10px;
}

.openingCon h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.openingCon p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-text-dark);
}

.openingCon span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--gray-text);
  margin-bottom: 40px;
}

.openingCon button {
  width: 160px;
  height: 50px;
  border: none;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
}

.openingCon button:hover {
  box-shadow: 0 0 10px 1px var(--primary-lite);
}
